<!--headerTitle start-->
<header>
    <a ng-click="enterGroupTalk()">群聊</a>
    <h1>{{elderName}}</h1>
</header>
<div page-loading></div>
<div class="empty10"></div>
<!--headerTitle end-->
<!--联系方式-->
<div class="contactWayCont">
    <section class="contItem mb10">
        <div>
            <span>会员卡号</span>
            <i>hualudr001</i>
        </div>
    </section>
    <section class="contItem">
        <div>
            <span>家庭住址*</span>
            <i>{{memberExtendData.address}}</i>
        </div>
        <div>
            <span>个人电话*</span>
            <i>{{memberExtendData.mobile}}</i>
        </div>
        <div>
            <span>家庭电话</span>
            <i>{{memberExtendData.telephone}}</i>
        </div>
    </section>
    <section class="contItemTit">
        紧急情况联系人
    </section>
    <section class="contItem">
        <div>
            <span>姓名</span>
            <i>{{memberExtendData.emergencyContactName}}</i>
        </div>
        <div>
            <span>联系电话</span>
            <i>{{memberExtendData.emergencyContactPhone}}</i>
        </div>
    </section>
    <section class="contItemTit">
        责任医生
    </section>
    <section class="contItem">
        <div>
            <span>姓名</span>
            <i>浦声波</i>
        </div>
        <div>
            <span>联系电话</span>
            <i>05358888888</i>
        </div>
    </section>
    <section class="contItemTit">
        责任护士
    </section>
    <section class="contItem">
        <div>
            <span>姓名</span>
            <i>迟守爱</i>
        </div>
        <div>
            <span>联系电话</span>
            <i>05358888888</i>
        </div>
    </section>
</div>