<html>
<script type="text/javascript" src="js/libs/important/rem.js"></script>
<link rel="stylesheet" href="styles/elder/healthFile.css?ver=1.1.3" type="text/css"/>
<link rel="stylesheet" href="styles/elder/reset.css?ver=1.1.3" type="text/css"/>
<base href="/elder/"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
<body style="visibility:hidden" class="community" onload="surveyLoginPageInit()">
<!--content start-->
<div class="overhidden">
    <!--headerTitle start-->
    <header class="loginHead">
        <img style="height:130%;width:100%;"
             src="http://yhllaoyou.oss-cn-beijing.aliyuncs.com/fengtai/QQ%E5%9B%BE%E7%89%8720170914174950.jpg">
    </header>
    <!--headerTitle end-->
    <!--login start-->
    <div class="loginForm" name="loginForm" style="    margin-top: 170px;">
        <div class="inputItem">
            <input type="number" sytle="line-height:normal" name="phoneNum" placeholder="手机号" id="userPhone"/>
        </div>
        <div class="inputItem inputCodeItem">
            <input type="text" sytle="line-height:normal" name="phoneCode" placeholder="短信验证码" id="userPhoneCode"/>
            <div class="getCodeBtn" id="getCodeBtn">获取验证码</div>
            <div class="errorHint fontc00" id="errorHint"></div>
        </div>
        <div type="submit" style="margin-top:30px;"
             class="loginBtn" id="loginBtn">登 录</div>
    </div>
    <!--login end-->

    <div style="width:80%;margin-top:10px;margin-left:45px;">
        未将手机号码提交给华录健康养老的调查员将无法登录，请见谅。
        <span style="color:red">如需添加手机号成为调查员，请联系以下人员：</span>
        <br>
        李先生（17600222742）
        <br/>
        王女士（13466412901）
        <br/>
        陈先生（13601025662）。
    </div>
</div>
<!--content end-->
</body>
<script src="js/native/surveyLogin.js"></script>
<link rel="stylesheet" href="styles/elder/fullcalendar.css?ver=1.1.3" type="text/css"/>
<link rel="stylesheet" href="styles/lib/animate.min.css"/>
<script type="text/javascript" src="js/libs/important/require.min.js"></script>
<script type="text/javascript" src="js/libs/important/rem.js"></script>
<script type="text/javascript" src="js/libs/important/WebViewJavascriptBridge.js"></script>
<script type="text/javascript" src="js/libs/important/appInterface.js"></script>
<script src="js/libs/ionic/ionic.bundle.min.js"></script>
<script src="js/libs/ionic/ionic.min.js"></script>
<script src="js/libs/ionic/ionic-angular.min.js"></script>
<link rel="stylesheet" href="styles/elder/fullcalendar.css?ver=1.1.3" type="text/css"/>
<link rel="stylesheet" href="styles/elder/spinners.css?ver=1.1.3" type="text/css"/>
<link rel="stylesheet" href="styles/lib/ionic.min.css"/>
<link rel="stylesheet" href="styles/lib/ionicons.min.css"/>
<link rel="stylesheet" href="styles/lib/animate.min.css"/>
</html>