<html>
<head>
    <link rel="stylesheet" href="styles/test/reset.css?ver=1.1.4" type="text/css"/>
    <link rel="stylesheet" href="styles/test/first.css?ver=1.1.4" type="text/css"/>
</head>
<body>
<header>
    <div style="float:left;margin-top:4%;margin-left:2%;font-size:1rem;" >&lt; 返回</div>
    <h1>香蕉空间</h1>
    <div style="float:right;margin-top:2%;font-size:1rem;margin-right:2%;">...</div>
</header>
<!--header end-->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Cache-Control" content="no-cache">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
<!--content start-->
<div class="first-1">
    <img src="images/test/first/f_01.png" style="width:100%;height:100%;">
</div>
<div class="first-2">
    <img style="height: 6%;float: left;width: 17%;border-radius: 0 50px 50px 0;" src="images/test/first/g.png">
</div>
<div class="first-3">
    <img style="height: 4%;width: 7%;" src="images/test/first/a_06.png">
</div>
<div class="first-4">
    <img style="width: 43%;height: 6%;" src="images/test/first/e_03.png">
</div>
<div class="first-5">
    <img style="height: 4%;width: 7%;" src="images/test/first/a_09.png">
</div>
<div class="first-6">
    <img style="height: 6%;width: 17%;border-radius: 50px 0 0 50px;" src="images/test/first/g.png">
</div>
<div class="first-7">
    <img style="width: 66%;height:4%;" src="images/test/first/a_19.png">
</div>
<div class="first-8">
    <img style="width:80%;height:30%;" src="images/test/material/a.png">
</div>
<div class="first-9">
    <img style="width:80%;height:30%;" src="images/test/material/b.png">
</div>
<div class="first-10">
    <img style="width:80%;height:30%;" src="images/test/material/c.png">
</div>
<div class="first-11"></div>
<div class="first-12">
    <img src="images/test/first/a_26.png" style="width: 44%;height: 8%;">
</div>
<div class="first-13">
    <img src="images/test/first/a_27.png" style="width: 44%;height: 8%;">
</div>
<table cellspacing="10" class="first-16">
    <tr>
        <td><span style="font-size:13px;">（最低只要16元/时）</span></td>
        <td><span style="color:red;margin-left:15%;font-size: 13px;">（惊爆价179元/夜）</span></td>
    </tr>
</table>
</body>
</html>