<div style="height:100%;padding-top:200px;background:url('images/login_bj.png') center no-repeat">
    <div class="loginContainer">
        <h3>蓬莱中医院健康管理平台</h3>
        <form class="loginForm" name="loginForm" ng-submit="submitForm(loginForm.$valid)" novalidate>
            <div>
                <!--<input type="text" name="phoneNum" placeholder="手机号" ng-model="login.userPhone" ng-pattern="/^1[3|4|5|7|8]\d{9}$/" required/>-->
                <input type="text" name="phoneNum" placeholder="手机号" ng-model="login.userPhone" required/>
            </div>
            <div>
                <input type="text" name="phoneCode" placeholder="短信验证码" ng-model="login.userPhoneCode" ng-focus="login.errorHint=false" required>
                <div ng-class="login.paraclass" ng-click="login.loginCode()" ng-if="loginForm.phoneNum.$valid">{{login.paracont || '获取验证码'}}</div>
                <div class="getCodeBtn null" ng-if="loginForm.phoneNum.$invalid">{{login.paracont || '获取验证码'}}</div>
            </div>
            <div class="errorHint" ng-show="login.errorHint">验证码不正确</div>
            <button type="submit" ng-disabled="loginForm.$invalid" ng-class="{'btnLogin':true,'btnSuc':loginForm.$valid}">登 录</button>
        </form>
    </div>
</div>


